<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="https://localhost:44324/vn/elements/tour-du-lich-hue-1-ngay-tu-da-nang-khuyen-mai-chi-540k/">
                    <h3>Tour du lịch Huế 1 ngày từ Đà Nẵng “khuyến mãi” chỉ 540k</h3>
                </a>
                <img src="~/images/tour-du-lich-hue-da-nang-1.jpg" />
                <p>
                    Tour Huế 1 ngày xuất phát từ Đà Nẵng, thăm quan tất cả các điểm du lịch NỔI TIẾNG trong thành phố Huế. Bạn thường lựa chọn đặt 1 tour Huế giá rẻ để tiết kiệm tối đa chi phí. Với kinh nghiệm nhiều năm làm tour, công ty xin cam…
                </p>
                <a href="https://localhost:44324/vn/elements/tour-du-lich-hue-1-ngay-tu-da-nang-khuyen-mai-chi-540k/">
                    Xem ngay...
                </a>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/bà-nà-hills-3-324x160.jpg" />
                        <a href="https://localhost:44324/vn/tour-in-country/tour-ba-na-hills-1-ngay-di-tu-da-nang-an-buffet-lavande/">
                            <h5>Tour Bà Nà Hills 1 ngày đi từ Đà Nẵng ăn Buffet Lavande</h5>
                        </a>
                        <p>
                            Tour Bà Nà Hills 1 ngày là một trong những tour ghép "ăn khách" nhất hiện nay. Đăng ký tour này, du khách sẽ...
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/tour-du-lịch-cù-lao-chàm-1-ngày-324x160.jpg" />
                        <a href="">
                            <h5>Tour Cù Lao Chàm 1 ngày “giá rẻ” đón tận nơi tại Đà Nẵng...</h5>
                        </a>
                        <p>
                            Tour Cù Lao Chàm đón khách tận nơi từ Đà Nẵng hoặc Hội An với hình thức ghép đoàn được tổ chức hàng ngày....
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/núi-thần-tài-đà-nẵng-324x160.jpg" />
                        <a href="">
                            <h5>Tour Núi Thần Tài Đà Nẵng trong ngày giá rẻ ăn Buffet chỉ 680k</h5>
                        </a>
                        <p>
                            Đến với tour Núi Thần Tài Đà Nẵng trong ngày của chúng tôi, du khách sẽ được đắm chìm trong công viên suối khoáng nóng...
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/tour-du-lich-hue-da-nang-1-324x160.jpg" />
                        <a href="">
                            <h5>Tour du lịch Huế 1 ngày từ Đà Nẵng “khuyến mãi” chỉ 540k</h5>
                        </a>
                        <p>
                            Tour Huế 1 ngày xuất phát từ Đà Nẵng, thăm quan tất cả các điểm du lịch NỔI TIẾNG trong thành phố Huế. Bạn...
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/ngu-hanh-son-324x160.jpg" />
                        <a href="">
                            <h5>
                                Tour Ngũ Hành Sơn Hội An 1 ngày từ Đà Nẵng giá rẻ chỉ...
                            </h5>
                        </a>
                        <p>
                            Tour Hội An 1 ngày giá rẻ khám phá trọn vẹn 3 điểm Ngũ Hành Sơn – Non Nước  - Hội An với mức...
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/tour-rung-dua-bay-mau-324x160.jpg" />
                        <a href="">
                            <h5>
                                Review Tour rừng dừa Bảy Mẫu Hội An 1 ngày giá rẻ nhất Đà...
                            </h5>
                        </a>
                        <p>
                            Tour rừng dừa Bảy Mẫu Hội An là tour ghép được rất nhiều các du khách hứng thú trong thời gian gần đây. Nếu...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
