@inherits UmbracoViewPage
<!-- Main -->
<section id="main">
    <div class="inner">
        <header class="major special">
            <h1 style="">@Umbraco.AssignedContentItem.Value("genericTitle")</h1>
        </header>
        <a href="#" class="image fit"><img src="@Umbraco.AssignedContentItem.Value("genericImage")" alt="" /></a>
        <p>@Umbraco.AssignedContentItem.Value("genericBody")</p>
    </div>
</section>
